<div class="container" id="login">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-fluidtext-center" id="rowsocial">
        <div class="card-body" id="cardlogin">
          <h5 class="card-title">Welcome to Project-Tracker</h5>
          <p class="card-text"><small>log in via social to search for any project on Github</small></p>
          <hr>
          <div class="container" id="socialcontainer">
            <div class="row">
              <div class="col-md-4">
                <div class="social" (click)="facebook()">
                  <i class="fa fa-facebook-f  fa-2x"></i>
                </div>

              </div>
              <div class="col-md-4">
                <div class="social" (click)="google()">
                  <i class="fa fa-google fa-2x"></i>

                </div>

              </div>


              <div class="col-md-4">
                <div class="social" (click)="twitter()" [routerLink]="['/user']">
                  <i class="fa fa-twitter fa-2x"></i>

                </div>

              </div>

            </div>
          </div>

        </div>
        <div class="card-footer" id="createlink">
          <a id="createlink"><small>Dont have an account?<strong >Create one Here</strong></small></a>

        </div>


      </div>
    </div>
    <div class="vl"></div>
    <div class="col-sm-6">
      <div class="card-fluid">
        <div class="card-body">

          <p class="card-text" id="card-text">
            The easiest way to track your developers progress
          </p>

        </div>
      </div>
    </div>



  </div>
</div>
