<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png" alt="" style="width: 18rem;">
      </div>
      <hr>
      <div>
        <h6>Signed in as</h6>
        <p>name</p>
      </div>
      <hr>
      <div>
        <h6>Saved repositories</h6>
        <hr>
        <h6></h6>
      </div>
    </div>
    <div class="col-md-9">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
                    <a class="badge badge-light ml-auto" (click)="authService.logout()" >Logout</a>
                 
                </div>
              </nav>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
                <form #userForm="ngForm">
                    <div class="form-group">
                        <input type="text" [(ngModel)]='inputname' name="username" class="form-control">
                    </div>
                  
                  </form>
                  
                  <button (click)="displayname()">Search</button>
                  
            </div>
            <div class="col-md-6">
                <form #userForm="ngForm">
                    <div class="form-group">
                        <input type="text" [(ngModel)]='repositoryname' name="repository" class="form-control">
                    </div>
                  
                  </form>
                  
                  <button (click)="displayname()">Search</button>
                  
            </div>
          </div>
           
        </div>
        <div>
          <img [src]='image' alt="">
          <p>{{name}}</p>
          <p>{{created_at|date}}</p>
          <p>repositories</p>
          <p>email</p>

        </div>
        
          
    </div>
  </div>
</div>
