<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584__340.png" alt="" style="width: 18rem;">
      </div>
      <hr>
      <div>
        <h6>Signed in as</h6>
        <p>name</p>
      </div>
      <hr>
      <div>
        <h6>Saved repositories</h6>
        <hr>
        <h6></h6>
      </div>
    </div>
    <div class="col-md-9">
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <i class="fa fa-github navbar-brand "></i>
          <small>Git Search</small>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <small class="ml-auto">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" [(ngModel)]='inputname' name="username" (keyup)='getuserrepos()'>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="getuserrepos()" ><small>search</small></button>
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="mdmd"><small>username</small></a>
                    <a class="dropdown-item" (click)="mxsm"><small>repository name</small></a>

                  </div>
                </div>
              </div>
            </small>

            <a class="badge badge-light ml-auto" (click)="logout()">Logout</a>

          </div>
        </nav>
      </div>
      <div class="container-fluid">
        <div class="row">
  
        </div>

      </div>
      <div>
        <img [src]='image' alt="">
        <p>{{name}}</p>
        <p>{{created_at|date}}</p>
        <p>{{public_repos}}</p>
        <p>{{email}}</p>

        <div class="container-fluid">

        </div>

      </div>
      <div class="container">
        <div class="row">
            <div *ngFor='let repo of userrepository' class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{repo.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link"><small>visit project</small></a>
                  
                </div>
              </div>
        </div>
         
      </div>


    </div>
  </div>
</div>
